<section {{#config.dark}}class="dark"{{/config.dark}}>
  {{#data}}
    <div class="info">
      {{#hasReddit}}
        <h3>
          {{score}} upvotes over {{threads}} thread{{#multiple}}s{{/multiple}} on {{config.service}}
        </h3>
      {{/hasReddit}}
      <h5>
        Powered by <a target="_blank" href="https://embedd.io">embedd.io</a>
      </h5>
    </div>
    
    {{#comments}}
      {{> comment}}
	  {{/comments}}
    
	  {{^comments}}
      <h3>No Comments on Reddit</h3>
	  {{/comments}}
    
  {{/data}}
</section>
