<section{{#config.dark}} class="dark"{{/config.dark}}>
  {{#data}}
    <div class="info">
      {{#hasReddit}}
        <h3>{{score}} upvotes {{#multiple}}over {{threads}} threads{{/multiple}} on {{config.service}}</h3>
      {{/hasReddit}}
      <h5>
        Powered by <a target="_blank" href="https://embedd.io">embedd.io</a>
      </h5>
    </div>

		{{#config.both}}
		{{#hasReddit}}
		{{#hasHn}}
		<div class="buttons">
			<button class="reddit-btn button{{#redditActive}} active{{/redditActive}}">
				<img src="//i.imgur.com/I3JS7Ew.gif"/>
				Reddit
			</button>

			<button class="hn-btn button{{#hnActive}} active{{/hnActive}}">
				<img src="//i.imgur.com/ByLiuCS.gif" />
				HN
			</button>
		</div>
		{{/hasHn}}
		{{/hasReddit}}
		{{/config.both}}

		<div class="comments">
    {{#comments}}
    {{> comment}}
	  {{/comments}}
		</div>

		{{#config.loadMore}}
		<button class="button more-btn">More</button>
		{{/config.loadMore}}
		
	  {{^comments}}
      <h3>No Comments on {{config.service}}</h3>
	  {{/comments}}
    
  {{/data}}
</section>
